body {
    margin: 0;
    padding: 0;
    background-image: url(e82018c9-865f-41b7-8718-6138d987cefe.jpeg);
    background-size:cover ;
    background-position: center;
    min-height: 100vh;

}




label {
    font-size: 35px;
    position: relative;
    top: 100px;
    border: solid black 4px;
    background-color: rgb(98, 176, 255);
}